div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #09f;
  overflow: hidden;
  position: relative;
}
div.jqcloud a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
div.jqcloud a:hover {
  color: #0df;
}
div.jqcloud a:hover {
  color: #0cf;
}
div.jqcloud span {
  padding: 0;
}
div.jqcloud span.w10 {
  font-size: 54px;
  color: #0cf;
}
div.jqcloud span.w9 {
  font-size: 50px;
  color: #0cf;
}
div.jqcloud span.w8 {
  font-size: 44px;
  color: #0cf;
}
div.jqcloud span.w7 {
  font-size: 40px;
  color: #39d;
}
div.jqcloud span.w6 {
  font-size: 34px;
  color: #90c5f0;
}
div.jqcloud span.w5 {
  font-size: 30px;
  color: #90a0dd;
}
div.jqcloud span.w4 {
  font-size: 24px;
  color: #90c5f0;
}
div.jqcloud span.w3 {
  font-size: 20px;
  color: #a0ddff;
}
div.jqcloud span.w2 {
  font-size: 14px;
  color: #99ccee;
}
div.jqcloud span.w1 {
  font-size: 10px;
  color: #aab5f0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */


html { 
  background: url("manifestacao_back.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	width: 94%;
	margin: auto;
	margin-top: 30px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
}

#map_container {
	padding: 20px;
	margin-top: 50px;
}

#map {
	widht: 100%;
	height: 540px;
	/*height: 540px;
	position: absolute;*/
}

#graphic {
	width: 100%;
	height: 580px;
}

#nuvem {
	height: 580px;
}

iframe {
	border-radius: 20px;
}
