<div class="container">
	<div id="graphic"></div>
</div>

<div class="container">
	<div id="map_container">
		<div id='map'></div>
	</div>
</div>

<br>

<!-- <div class="container">
	<div id="nuvem"></div>
</div> -->

<script type="text/javascript">
	$(document).ready(function() {
		plotLineSeries();
		plotMap();
		// nuvemDePalavras();
	});
</script>