/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jqcloud
 *= require_tree .
 *= require_self
 */

html { 
  background: url("manifestacao_back.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	width: 94%;
	margin: auto;
	margin-top: 30px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
}

#map_container {
	padding: 20px;
	margin-top: 50px;
}

#map {
	widht: 100%;
	height: 540px;
	/*height: 540px;
	position: absolute;*/
}

#graphic {
	width: 100%;
	height: 580px;
}

#nuvem {
	height: 580px;
}

iframe {
	border-radius: 20px;
}